<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FrooxEngine" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.7.20.1115" newVersion="2024.7.20.1115" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>